@page "/Servers/Add"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="row">
    <h3>
        Add New Server
    </h3>
</div>

<div class="row">
    @if (server is not null)
    {
        <EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row mb-3">
                <div class="col-2">
                    <label class="col-form-label">Name</label>
                </div>
                <div class="col-6">
                    <ValidationMessage For="() => server.Name" />
                    <InputText @bind-Value="server.Name" class="form-control"></InputText>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-2">
                    <label class="col-form-label">City</label>
                </div>
                <div class="col-6">
                    <ValidationMessage For="() => server.City" />
                    <InputText @bind-Value="server.City" class="form-control"></InputText>

                </div>
            </div>

            <div class="row mb-3">
                <div class="col-2">
                    <label class="col-form-label">Is Online</label>
                </div>
                <div class="col-6">
                    <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input"></InputCheckbox>

                </div>
            </div>

            <div class="row mb-3">
                <div class=" col-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </EditForm>
    }

</div>

<br />
<div class="row">
    <div class="col-1">
        <a href="/servers" class="btn btn-outline-warning">Back</a>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "formServer")]
    public Server server { get; set; } = new() { IsOnline = false};

    private void Submit()
    {
        // Code to add server
        ServersRepository.AddServer(server);

        NavigationManager.NavigateTo("/servers");
    }
}
